body{
    font-family: 'Roboto';
    background-image: url("../images/backcover.svg");
    background-repeat: no-repeat;
    background-position:  right bottom ;
    height: 100vh;
    overflow: hidden;

}

/* ----------navbar start--------- */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin:auto;
}
.nav-items{
    display:flex;

}
.nav-item{
    padding:3px 10px;
}
.signin-btn{
border:none;
padding:5px 25px;
border-radius: 20px;
background: linear-gradient(to right,#965cf2,#ff8adc);
color:white;
cursor:pointer;
}


/* ---------middle intro-section startss-------- */

.intro-section{
    display:flex;
    width:90%;
    margin: 0 auto;
}



/* ----------intro left side part starts-------- */

.left-section{
margin-top:8%;
max-width: 500px;

}
.left-section h1{
    font-size:4rem;
    color:#3e4794;

}
.left-section h4{
    font-size: 20px;
    line-height: 30px;  
    font-weight: 400;
    color:#6c6c6c;
}

.learn-more-btn{
    border:none;
    padding:10px 25px;
    border-radius: 20px;
background: linear-gradient(to right,#965cf2,#ff8adc);
color:white;
font-weight: 600;
font-size: 18px;
margin-top:30px;
}


/* -------intro right images prt strt---------- */

.imgs-div{
   position:relative; 
 margin-top:0px;   
}

img[src="./images/intro-img.svg" ]{
position: relative;
left: 90px;
}

.vector-img{
position:absolute;
top:60%;
left:10%;
}

.vector-dot{
    position:absolute;
    top:60%;
    left:18%;
}


/* ------------------------------media queries------------------------------- */



@media screen and (max-width: 550px) {

    /* ----navbar----- */

    nav{
        display:flex;
    }

    .nav-items{
        display:none;
    }

    .signin-btn{
        padding:10px 25px;
       
        }
  /* ----intro section---- */

  .intro-section{
    display:flex;    
}


.left-section{
    position:absolute;
    top:52%;
    line-height: 20px;
}

    .left-section h1{
        font-size:3rem;
        color:#3e4794;
    
    }
    .left-section h4{
        font-size: 12px;
        line-height: 20px;  
        width:400px;
    }

   
     img[src="./images/intro-img.svg" ]{
        position: absolute;
        left: 35px;
        width:400px;
        top:70px;
        }

        .vector-img{
            display:none;
            }
            
            .vector-dot{
                display:none;
            }


}

/* ----------media queries mid screen------------- */


@media screen and (max-width: 900px) {

    /* ----navbar----- */

    .nav-items{
        display:none;
    }

    
.left-section{
    position:absolute;
    top:58%;
    line-height: 20px;
}


}
